
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fce4ec; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.container-pdv {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 85%;
    max-width: 900px !important;
    margin: 20px auto;
    text-align: center;
}

.flex-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.col{
    flex: 1;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background-color: #dd4e82;
    color: white;
    padding: 10px;
    text-align: left;
}

td{
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.total-container{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #a1316d;
    margin-top: 20px;
}

.btn-add{
    background-color: #f06269;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    color: #d81b60; 
    margin-bottom: 10px;
    font-weight: 600;
}

p {
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    color: #d81b60;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box; 
    transition: 0.3s;
    background-color: #fafafa;
}

.input-group input:focus {
    border-color: #f06292;
    background-color: #fff;
}

.btn-salvar {
    width: 100%;
    padding: 15px;
    background-color: #d85c74; 
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

.btn-salvar:hover {
    background-color: #b5465d;
}

.footer-link {
    margin-top: 25px;
}

.footer-link a {
    color: #d81b60;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.footer-link a:hover {
    text-decoration: underline;
}